<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .student{
            cursor: pointer;
        }
        .default1 p{
            /*background: red;*/
        }
        .student{
            background: red;
        }
        .student-back{
            background: blue;
        }
    </style>
</head>
<body>
    <div id="app">
        <p>Using mustaches: {{ rawHtml }}</p>

        <p>Using v-html directive: <span v-html="rawHtml"></span></p>

        <h1>{{ intro }}</h1>

        <input type="color" v-model="selectedColor">

        <div class="default1" :style="[{'background-color': selectedColor}]">
            <p
                    id="student-status"
                    v-for="(student, i) in students"
                    :key="student.i"
                    @click="studentDetails(student)"
                    class="student"
                    :class="{'student-back': student.status}"
            >
                    index: {{ i + 1}} Name: {{ student.name }} - Phone: {{ student.phone }} Status: {{ student.status }}
            </p>
        </div>

        <todo-item></todo-item>
        <todo-item></todo-item>
    </div>


    <script>
        Vue.component('todo-item', {
            template: '<li>This is a todo</li>'
        })

        let app = new Vue({

            el: '#app',

            data() {
                return {
                    rawHtml: '<span style="color: red;">this should be red</span>',
                    intro: 'Welcome to vue class',
                    selectedColor: '',
                    addColor: '',
                    students: [
                        {name: 'obi justin', phone: 7078968796, email: 'justin@gmail.com', status: false},
                        {name: 'emeka ibe', phone: 78428968796, email: 'ibe@gmail.com', status: true},
                        {name: 'james glory', phone: 8808968796, email: 'glory@gmail.com', status: false},
                        {name: 'jon ibe', phone: 707896844, email: 'ibe@gmail.com', status: true},
                        {name: 'John doe', phone: 711968796, email: 'cjustinobi@gmail.com', status: false},
                    ]
                }
            },

            methods: {
                studentDetails (detail) {
                    alert(JSON.stringify(detail))
                }
            },


        })
    </script>
</body>
</html>