<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="app">

        <div>

            <p
                    v-for="(student, i) in students"
                    :key="student.i"
                    :class="{'student-back': student.status}"
            >
                    Name: {{ student.name }}  <span v-if="student.status == false">Has not paid school fees</span>

                    <span v-else>Good to go</span>

                <!--
                The difference between v-if and v-show is that an element with v-show will
                always be rendered and remain in the DOM; v-show
                only toggles the display CSS property of the element while v-if conditional block won’t be
                rendered until the condition becomes true for the first time
                -->

                <span v-show="student.status">This element shows when the student status is true</span>
            </p>

        </div>

    </div>


    <script>

        let app = new Vue({

            el: '#app',

            data() {
                return {

                    students: [
                        {name: 'obi justin', phone: 7078968796, email: 'justin@gmail.com', status: false},
                        {name: 'emeka ibe', phone: 78428968796, email: 'ibe@gmail.com', status: true},
                        {name: 'james glory', phone: 8808968796, email: 'glory@gmail.com', status: false},
                        {name: 'jon ibe', phone: 707896844, email: 'ibe@gmail.com', status: true},
                        {name: 'John doe', phone: 711968796, email: 'cjustinobi@gmail.com', status: false},
                    ]
                }
            },


        })
    </script>
</body>
</html>